*{
  /*border: 1px dotted black;*/
}
.products {
  border: 2px solid black;
  width: 960px;
  margin: 50px auto;
}
img {
  border: 1px solid black;
  float: left;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: auto 40px;
  position: relative;
}
.container {
  margin: 50px auto;
}
